.top-header, .action-button, .payment-tabs__slider, .separatorGem, button.active {
  background-color: #FF9900 !important;
  border-color: #FF9900 !important;
}
.timer-row {
  background-color: #818a91 !important;
}
